<ion-card #cardItem>
  <div>
    <img src="assets/img/rooms/s{{idx+1}}.PNG" />
    <!-- <div class="card-title">{{surgery.initials | uppercase}}</div>*ngIf="surgery.occurs==='today'" -->

    <div class="card-subtitle">{{surgery.preferenceCardName}}</div>
  </div>
  <ion-list>
    <ion-item-sliding>
      <ion-item border lines>
        <ion-avatar item-left>
          <!-- <letter-avatar [avatardata]="avatar" [avatarText]="surgery.initials"></letter-avatar> -->
          <avatar [avatardata]="avatar" [avatarText]="surgery.initials" ></avatar>
        </ion-avatar>
        <p>
          <strong>Status:</strong> {{surgery.admissionStatus}}</p>
        <p>
          <strong>Duration:</strong> {{surgery.surgeryTime}}</p>
        <p class="text ion-item-divider-cancelled" color="google" *ngIf="surgery.cancelled">
          <ion-icon name="close-circle" item-left small></ion-icon>
          <strong>Cancelled</strong>
        </p>
        <p class="text ion-item-divider-billing" color="favorite" *ngIf="surgery.completed">
          <ion-icon name="cash" item-left small></ion-icon>
          <strong>Billed</strong>
        </p>

        <!-- <ion-note item-right>
                    <i>
                        <strong>From </strong> {{ surgery.term | amUtc | amDateFormat: 'h:mm a'}}
                        <br/>
                        <strong>To</strong> {{ surgery.term | amUtc | amAdd: surgery.minutes : 'minutes' | amDateFormat: 'h:mm a'}} </i>
                </ion-note> -->
      </ion-item>
      <ion-item-options side="left" *ngIf="(!surgery.cancelled && !surgery.completed && !surgery.occurs=='futute')">
        <button ion-button color='favorite' (click)="sendBilling(surgery,cardItem)">
          <ion-icon name="cash" item-left small></ion-icon>
          Billing
        </button>
        <button ion-button color="google" (click)="cancelSurgery(surgery,cardItem)">
          <ion-icon name="close-circle" item-left small></ion-icon>
          Cancel
        </button>
      </ion-item-options>


      <ion-item-options side="right" *ngIf="(!surgery.cancelled && !surgery.completed)">
        <button ion-button color="primary" (click)="showEditCodes(surgery,'CPT')">
          <ion-icon name="barcode"></ion-icon>
          CPT
        </button>
        <button ion-button color="facebook" (click)="showEditCodes(surgery,'DX')">
          <ion-icon name="barcode"></ion-icon>
          DX
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ion-card-content>
    <ion-list>
      <ion-item-divider color="light" small>Actions</ion-item-divider>
      <button ion-item (click)="showEditCodes(surgery,'CPT')" [disabled]="(surgery.cancelled || surgery.completed)">
        <ion-icon name="barcode" item-left small color="primary"></ion-icon>
        <h2>CPT Codes</h2>
        <p class="text code-info">{{surgery.cpt}}</p>
        <ion-note item-right>{{surgery.cptArray?.length}} codes</ion-note>
      </button>
      <button ion-item (click)="showEditCodes(surgery,'DX')" [disabled]="(surgery.cancelled || surgery.completed)">
        <ion-icon name="barcode" item-left small color="facebook"></ion-icon>
        <h2>DX Codes</h2>
        <p class="text code-info">{{surgery.diagnosisCode}}</p>
        <ion-note item-right>{{surgery.dxArray?.length}} codes</ion-note>
      </button>




      <!--BILLING BUTTON-->
      <ion-item-sliding *ngIf="(!surgery.cancelled && !surgery.completed && surgery.occurs!=='future')">
        <button ion-item clear item-left (click)="sendBilling(surgery,cardItem)" class="ion-item-divider-billing">
          <ion-icon name="cash" item-left small color="favorite"></ion-icon>
          <h2>Billing</h2>
          <p>Send billing information to coordinator</p>
          <ion-note item-right>{{surgery.billingCoordinatorName}}</ion-note>
          <ion-icon name="more" item-right small color="facebook"></ion-icon>
        </button>

        <ion-item-options side="right">
          <button ion-button color="primary" (click)="openContact(surgery.billingCoordinatorName,surgery.billingCoordinatorEmail,surgery.billingCoordinatorPhone)">
            <ion-icon name="mail"></ion-icon>
          </button>
          <button ion-button color="light" (click)="openContact(surgery.billingCoordinatorName,surgery.billingCoordinatorEmail,surgery.billingCoordinatorPhone)">
            <ion-icon name="call"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>




      <!--CANCEL BUTTON-->
      <ion-item-sliding *ngIf="(!surgery.cancelled && !surgery.completed)">
        <button ion-item clear item-left (click)="cancelSurgery(surgery,cardItem)" class="ion-item-divider-cancelled">
          <ion-icon name="close-circle" item-left small color="danger"></ion-icon>
          <h2>Cancel</h2>
          <p>Cancel surgery.</p>
          <ion-note item-right>{{surgery.coordinatorName}} </ion-note>
          <ion-icon name="more" item-right small color="facebook"></ion-icon>
        </button>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="openContact(surgery.coordinatorName,surgery.coordinatorEmail,surgery.coordinatorPhone)">
            <ion-icon name="mail"></ion-icon>
          </button>
          <button ion-button color="light" (click)="openContact(surgery.coordinatorName,surgery.coordinatorEmail,surgery.coordinatorPhone)">
            <ion-icon name="call"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card-content>
</ion-card>
